html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  font-family: Verdana;
  overflow: hidden;
}

#wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#shp_preview{
  width: 100%;
  height: 100%;
}

#button_wrap{
  position: absolute;
  bottom: 3%;
  left: 50%;
  border: 1px solid rgba(0,0,0,0.3);
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  z-index: 500;
}

#upload_label{
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 15px 10px 10px;
  width: auto;
  background: #2ecc71;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  border-left: 5px solid #24a35a;
  cursor: pointer;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}
#upload_label:hover, #upload_label:active{
  background: #57d68d;
}
#upload_label:hover ~.popup, #upload_label:active ~.popup{
  display: block;
}

#upload_button{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}



#import_opt_wrap{
  position: absolute;
  bottom: 3%;
  left: calc(50% + 120px);
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  z-index: 500;
}

#import_opt_wrap .popup i{
  color: rgba(0, 0, 0, 0.5);
}
#import_opt_wrap:hover .popup, #import_opt_wrap:active .popup{
  display: block;
}

#import_opt{
  display: none;
}
#import_opt + label{
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 4px solid #000;
  border-radius: 5px;
}
#import_opt + label i{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  opacity: 0;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}
#import_opt:checked + label i{ opacity: 1; }

#file_wrap{
  position: absolute;
  bottom: 9%;
  left: 2%;
  min-width: 300px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  z-index: 500;
}

.no_file{
  position: relative;
  padding: 6px;
  margin: 0;
  background: #fff;
  color: #000;
  font-size: 1.1em;
}

.file_name{
  position: relative;
  padding: 6px;
  background: #fff;
  color: #000;
}

.file_name input{
  display: none;
}
.file_name label{
  padding: 0 30px;
  font-size: 1.1em;
}

.file_name label::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.file_name label:hover::before{
  background: #ccc;
}
.file_name input:checked + label::before{
  background: #3498db;
}

.file_name .close{
  position: absolute;
  right: 10px;
  top: 50%;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
.file_name:hover .close{
  opacity: 1;
}
.file_name:hover .close:hover{
  color: #e74c3c;
}

#back_map{
  position: absolute;
  bottom: 2%;
  left: 2%;
  padding: 5px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  z-index: 500;
}

#map_button{
  display: none;
}

#map_button + label{
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  font-size: 1.1em;
  cursor: pointer;
}
#map_button + label::before{
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid rgba(0,0,0,0.5);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
#map_button + label:hover::before{
  background: #ccc;
}
#map_button:checked + label::before{
  background: #3498db;
}

#result_wrap{
  position: absolute;
  bottom: 3%;
  right: 2%;
  width: 400px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  overflow: hidden;
  z-index: 500;
}

.window{
  position: absolute;
  right: 10px;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}
.window:hover{
  color: rgba(255,255,255,1);
}

#result_content{
  height: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#result_tab_name{
  position: relative;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  z-index: 500;
}
#result_tab_name p{
  margin: 0;
  padding: 0;
  width: 33.3333%;
  height: 31px;
  background: #fff;
  color: #000;
  border-bottom: 4px solid #fff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
#result_tab_name p:hover{
  color: #3498db;
}
#result_tab_name p.selected{
  color: #3498db;
  border-bottom-color: #3498db;
}

#result_tabs{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
  margin-left: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
#result_tabs>div{
  width: 400px;
}

.result_section{
  padding: 10px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #aaa;
}
.result_section:last-child{
  border: none;
}

.result_section p{
  margin: 2px 10px;
  padding: 2px;
  min-width: 150px;
}
.result_section p.small_result{
  min-width: 80px;
}
.result_section p.big_result{
  min-width: 300px;
}
.result_section p span{
  color: #222;
  font-weight: bold;
}

.graph_visu{
  display: block;
  margin: 5px auto;
  width: 95%;
  height: 250px;
  border: 2px solid rgba(0,0,0,0.3);
}



#toolbox_wrap{
  position: absolute;
  top: 1.5%;
  right: 1%;
  z-index: 600;
}

#toolbox_checkbox{
  display: none;
}
#toolbox_checkbox + label{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  height: 25px;
  width: 105px;
  background: #fff;
  color: #000;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  z-index: 10;
}
#toolbox_checkbox:hover + label{
  color: #3498db;
}
#toolbox_checkbox:checked + label{
  background: #3498db;
  color: #fff;
}
#toolbox_checkbox:checked ~ #toolbox{
  right: 140px;
  width: 580px;
  opacity: 1;
}

#toolbox{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 0;
  height: 47px;
  margin: 0;
  background: #fff;
  opacity: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  z-index: 0;
}

#toolbox input[type="radio"]{ display: none; }
#toolbox input[type="radio"] + label{
	position: relative;
  /*margin: 5px 0;*/
	padding: 5px 7px;
  width: 100%;
  color: #000;
  text-align: center;
  vertical-align: middle;
	font-size: 1em;
  border: 2px solid transparent;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
#toolbox input[type="radio"] + label:last-child{ margin-bottom: 0; }
#toolbox input[type="radio"] + label:hover{
	border-color: #3498db;
}
#toolbox input[type="radio"]:checked + label{
	background: #3498db;
	color: #fff;
  border-color: #3498db;
}


#loader{
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-radius: 50%;
  z-index: 500000000;
  animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
}
#loader::before, #loader::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 50%;
}

#loader::before{
  top: -5px;
  left: -5px;
  border-left-color: red;
  transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
#loader::after{
  top: -5px;
  left: -5px;
  border-right-color: red;
  transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
}

.drop_down{
  position: relative;
  margin: 0 10px;
  height: 47px;
  width: 130px;
}
.drop_down:first-child{ margin-left: 0; }
.drop_down:last-child{ margin-right: 0; }

.drop_down>p{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 47px;
  width: 100%;
  color: #000;
  background: #fff;
  font-size: 1.1em;
  cursor: default;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  z-index: 10;
}
.drop_down>p::after{
  content: "";
  position: absolute;
  bottom: -16px;
  right: calc(50% - 12px);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 12px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.drop_down:hover>p{
  background: #3498db;
  color: #fff;
}
.drop_down:hover>p::after{
  border-top-color: #3498db;
}

.drop_down div{
  visibility: collapse;
  position: absolute;
  top: 47px;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  z-index: 1;
}
.drop_down:hover div{
  visibility: visible;
  opacity: 1;
}


.title{
  margin: 0;
  padding: 4px 0 4px 8px;
  width: calc(100% - 8px);
  text-align: left;
  background: #3498db;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
}

.content{
  margin: 0;
  padding: 0;
  height: auto;
}

.popup{
  display: none;
  position: absolute;
  top: -20px;
  left: 50%;
  width: 230px;
  height: auto;
  padding: 12px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%,-100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 10000;
}
.popup p{
  margin: 0;
  padding: 0;
  text-align: center;
}
.popup::after{
  content: "";
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
}

.alert{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 5px 20px;
  background: #e74c3c;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
.alert p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: normal;
}


@keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}

/*
blue: #3498db
green: #2ecc71
red: #e74c3c

grey: #2c3e50
*/
